{% extends 'base.html.twig' %}

{% block body %}
    <section style="background: lavenderblush" class="row mt-2">
        <section class="col-4">
                <div class="container">
                    <form action={{ path('app_products_index') }} method="get">

                        <input type="string" name="Name" class="form-control rounded mb-4 mt-4"
                               placeholder="What are you looking for?" aria-label="Search"
                               aria-describedby="search-addon"/>
                        Min Price: <input type="number" class="mb-2" name="minPrice"><br>
                        Max Price: <input type="number" class="mb-4" name="maxPrice"><br>
                        <input type="submit" value="Search" class="btn btn-primary"> |
                        <a href="{{ path('app_products_index') }}"
                           class="btn btn-primary">Reset</a>
                        <div class="row mt-4" style="display: flex">
                            <div style="color: red" class="col-1"><p>Price: </p></div>
                            <div class="col-3 pr-1">
                                <a href="{{ path(app.request.attributes.get('_route'),
                                    app.request.query.all|merge({'sort': 'price', 'order': 'desc'})) }}"
                                   class="btn btn-primary btn-sm">High -> Low</a>
                                <a style="background: #5eb5e0" href="{{ path(app.request.attributes.get('_route'),
                                    app.request.query.all|merge({'sort': 'price', 'order': 'asc'})) }}"
                                   class="btn btn-primary btn-sm">Low -> High</a>
                            </div>
                        </div>
                    </form>
                </div>
        </section>
        <section class="row col-8 m-0 p-0 mt-4">
            {% for product in products %}
                <div class="col-3 mb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ asset(product.image) }}" alt="Symfony!"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p>Price: ${{ product.price }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_products_show', {'id': product.id}) }}"
                               class="btn btn-primary btn-sm">Show</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{#    <a href="{{ path('app_products_new') }}">Create new</a>#}
{% endblock %}

